<% if user_signed_in? %>

  <h1>Friends</h1>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Birthday <i class="fa fa-birthday-cake" aria-hidden="true"></i></th>
      <th>Ig Handle <i class="fa fa-instagram" aria-hidden="true"></i></th>
      <th>Tele Handle <i class="fa fa-telegram" aria-hidden="true"></i></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>
          <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>
          <td><%= friend.birthday %></td>
          <td><%= friend.ig_handle %></td>
          <td><%= friend.tele_handle %></td>


          <td>
            <%= link_to friend, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="red " xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            <% end %>
<!--            <i class="fa fa-trash-o" aria-hidden="true"></i>-->
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class: "btn btn-secondary" %>

<% else %>
  <h1>Hello World!</h1>
  <p>This is my first rails webpage.</p>
<% end %>
